#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

div {
    color: #fff;
    font-size: 2rem;
    border-color: #fff;
    border-style: solid;
}

h1 {
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 20px;

}

.page {
    height: 100vh;
}

#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
    color: #fff;
}